<launch>
  <arg name="number" default="1"/>

  <!-- multimaster -->
  <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery"/>
  <node name="master_sync" pkg="master_sync_fkie" type="master_sync"/>

  <group ns="robot_$(arg number)">
    <include file="$(find kobuki_softnode)/launch/full.launch">
      <arg name="robot_name" value="robot_$(arg number)"/>
    </include>
    <param name="/robot_$(arg number)/mobile_base/base_frame" value="robot_$(arg number)/base_footprint"/>
    <node name="cmd_vel" pkg="rostopic" type="rostopic"
	  args="pub -r 10 mobile_base/commands/velocity geometry_msgs/Twist '{linear: {x: $(arg number), y: 0, z: 0}, angular: {x: 0, y: 0, z: $(arg number)}}'"/>
  </group>
</launch>
