<launch>
  <arg name="number" default="1"/>
  <!-- multimaster -->
  <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery"/>
  <node name="master_sync" pkg="master_sync_fkie" type="master_sync"/>

  <!-- publish message -->
  <node name="message_$(arg number)" pkg="rostopic" type="rostopic" args="pub -r 10 /message_$(arg number) std_msgs/String 'Hello from master_$(arg number)'"/>

</launch>
