<launch>
  <!-- multimaster -->
  <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery"/>
  <node name="master_sync" pkg="master_sync_fkie" type="master_sync"/>

  <!-- multimaster_fkie doesn't handle params, so we need to set it -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find kobuki_description)/urdf/kobuki_standalone.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find learn_ros_multimaster)/rviz/multimaster.rviz"/>
</launch>
